body {
    background-color: 092644;
    color: fcd988;
    font-size: 13pt;
}

a {
    color: fc9d19;
}

.column {
    padding: 0px 25% 20px;
    min-width: 500px;
}

.column-inner {
    padding: 24px 5% 0px;
    min-width: 300px;
}

.last-updated {
    text-align: right;
    font-style: italic;
    font-size: 12pt;
    margin-right: 5px;
}

.divider {
    background-color: fcd988;
    height: 1px;
    width: 300px;
    margin: 20px auto 30px;
}

.entry {
    margin-bottom: 40px;
}

.details {
    font-style: italic;
}

div.title h2 {
   margin-bottom: 0px;
}

div.example-images {
    margin-bottom: 30px;
}

div.example-images img {

    max-height: 160px;
    margin-right: 24px;
    object-fit: contain;
    border: #fc9d19 solid 3px;
    max-width: 320px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}