body {
    color: white;
    background-color: #0D0013;
    font-size: 13pt;
}

h1 {
    line-height: 1.25;
}

a {
    color: #FF4500;
    line-height: 1.25;
}

p {
    line-height: 1.25;
}

.divider {
    margin: 32px auto;
    background-color: white;
    height: 1px;
    width: 300px;
}

.dingbat {
    text-align: center;   
}

.slidetable td {
    padding: 12px 0px;
    width: 50%;
}

td p {
    margin-right: 12px;
}

td img {
    margin-left: 12px;
}

img.slide {
    max-width: 100%; 
    border-color: #FF4500;
    border-width: 1px;
    border-style: solid;
}

.column {
    padding: 0px 25% 20px;
    min-width: 500px;
}

.column-inner {
    padding: 24px 5% 0px;
    min-width: 300px;
}
